# production
ui
ui-holohost
tmp-storage
ui-src/build

# testing
coverage

# dependencies
/node_modules
ui-src/node_modules

# misc
stats.json
ui-src/.DS_Store
ui-src/.env.local
ui-src/.env.development.local
ui-src/.env.test.local
ui-src/.env.production.local
ui-happ-store/
# Cruft
.DS_Store
npm-debug.log

tmp-storage-1
tmp-storage-2
