@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

@keyframes holo-motion {
  0%   { background-position: 0% 95%; }
  50%  { background-position: 35% 19%; }
  100% { background-position: 0% 95%; }
}

* {
	font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

body, html{
	padding:0;
	margin:0;
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #fbfbfb 0%, #ededed 46%, #ededed 100%);
	background: -webkit-linear-gradient(top, #fbfbfb 0%, #ededed 46%, #ededed 100%);
	background: linear-gradient(to bottom, #fbfbfb 0%, #ededed 46%, #ededed 100%);
	text-align:center;
}

main {
	width:970px;
	max-width:100%;
	position:relative;
	text-align:left;
	display:inline-block;
	background-color:'#eee';
	min-height: 700px;
	margin-bottom:30px;
}

	.divMain{
		width:inherit;
		max-width:inherit;
    position: relative
	}

header {
	height:0px;
	width:100%;
  background-color: #21acba; // transparnt
  background-image: linear-gradient(240deg, #9900ff, #8500ff, #6600ff, #3d65d6, #21acba, #10d6a9, #0fe19f, #10d6a9, #21acba, #3d65d6, #6600ff, #8500ff, #9900ff);
 /* background: linear-gradient(240deg, #21acba, #3d65d6,#21acba, #21acba, #21acba, #3d65d6, #21acba); */
  /* background-image: linear-gradient(45deg, #039788 10%, #00017fb3); */
  -webkit-animation: HoloMotion 30s linear infinite;
  animation: HoloMotion 30s linear infinite;
}

h2 {
	margin:20px;
	border-bottom:1px solid #abc1cf;
	color:#696969;

	font-size:20px;
	font-weight:100;
}

h1, h2, h3, h4{
  padding:0 20px;
  margin: 1.5em 0 1em 0;
  text-align: left;
  color: #004B8C;
}

/******************************************************************/
form {
	width:100%;
	font-size:16px;
	text-align:left;
	padding: 20px 20px;
}
form, form *{box-sizing: border-box;}
label {
	font-weight:bold;
  color:#004B8C;
  cursor: pointer;
}
.main-label {
	display:block;
	margin: 25px 0 0 0;
}
input[type=text],
input[type=number],
input[type=date],
textarea,
select {
	width:100%;
	display:block;
	padding:8px;
	margin: 5px 0 0 0;
	font-size:16px;
  transition: border-color 1s ease;
}
input[type=number],input[type=date],select{padding-left:30px;}
option{position: relative}
input[type=radio] {
  margin: 0 10px 0 0;
  display: inline-block;
  vertical-align:middle;
}
input[type=radio] + label {
  display: inline-block;
  vertical-align:middle;
}
textarea {padding-bottom:20px;}
textarea+span {
	position:absolute;
	bottom: 8px;
	right:8px;
	color:rgb(0,120,0);
}
#radTransferType_ott{
	margin-top: 5px;
}
fieldset {
	border:none;
	padding:0;
	margin:0;
	position:relative;
}
fieldset .fa {
	position:absolute;
	bottom: 11px; left:8px;
	text-align:center;
}
input[type=date]~.fa{bottom:13px;}
.half-width {
	display:inline-block;
	width:45%;
	vertical-align: top;
	margin: 0 5% 10px 0;
}
.half-width.right {
	margin: 0 0 10px 5%;
}
.button-holder{
	margin-top: 30px;
	text-align:right;
}
.error {
  color:#490755 !important;
}
.error label:after {
  content: "(Requi#490755)";
  color: #490755;
  display:inline-block;
  margin-left: 5px;
}
.error input[type=text],
.error input[type=date],
.error input[type=number],
.error select{
  border:1px solid #490755;
}

/***************************** Modal ********************************/
.modalWindow {
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    z-index: 2;
}
.modalWindow .modal-content {
    display: block;
    text-align: left;
    background: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    max-width: 90%;
    max-height:90%;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    z-index: 2;
}
.modalWindow * {
    box-sizing: border-box;
}
.modalWindow .modal-body{
  max-height: 350px;
  position: relative;
  overflow: auto;
}
.modalWindow h3 {
	padding: 2em;
	margin: 0;
	text-align: center;
	background: #004B8C;
	color: white;
}
.modalWindow .button-holder {
    padding: 0 2em 1em 2em;
}
a.close-button{
	background: #000;
	color:#490755;
	border:1px solid white;
	border-radius: 200em;
	padding:10px;
	display:block;
	position: absolute;
	left:100%;
	top: 0;
	transform: translate(-50%,-50%);
}
a.close-button:after {
	font-size:16px;
	content: "x";
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
dl {
    margin: 0;
    padding: 0;
	paddinG: 0 2em 1em 2em;
}
dl div {
    font-size: 0;
	word-break: break-all;
	hyphens: auto;
}
dt {
    display: inline-block;
    width: 30%;
    font-size: 16px;

}
dd {
    display: inline-block;
    width: 70%;
    font-size: 16px;
}
dd, dt {
    padding: 5px;
    margin: 0;
	vertical-align: top;
}

/****************************Confirm******************************/
.confirm {
	text-align:left;
}
.confirm * {
	box-sizing: border-box;
}
.confirm dl {
	background: white;
    border-radius: 0 0 10px 10px;
}
.confirm h3 {
	margin: 1em 0 0 0;
    padding: 0;
    background: #490755;
    padding: 20px 1.8em;
    border-radius: 10px 10px 0 0;
}

.confirm .button {
  width: auto;
}
.confirm .button-holder {
  margin: 30px 20px 20px 20px;
}

/**************************** Notice Styles *******************************/
.notice {
	border: 1px solid gold;
    background: lightyellow;
    padding: 10px;
    color: goldenrod;
    text-align: left;
	position: relative;
	border-radius: 10px;
  margin:20px;
}
.notice.error {}
.notice.success {
	border-color: green;
	color: green;
	background: lightgreen;
}
.notice .fa {
	display: block;
	font-size: 2em;
	vertical-align:middle;
	position: absolute;
	left:10px;
	top:50%;
	transform:translate(0,-50%);
}
.notice p {
	display: inline-block;
	vertical-align:middle;
	width:100%;
	padding: 0 10px 0 40px;
}
/************************ Transfer-Activity **************************/
.transfer-activity h3,.transfer-activity h4 {padding:0}
.transfer-activity h3 {margin:0 0 1.5em 0}
.transfer-activity h4 {text-align:left;margin-top:1em;}
.transfer-activity tbody tr {cursor:pointer}
.table-hover>tbody>tr:hover {
    background-color: #490755;
}
/**************************** Transaction History *******************************/
.profile {
  padding:20px
}
.profile h3, .profile h4 {padding: 0; margin-top:8px;}
.profile-picture {
  display:block;
  width: 100px;
  height: 100px;
  border:1px solid #B1B1B1;
  color:#B1B1B1;
  padding:0;
  margin: 10px auto;
  font-size:100px;
  position:relative;
}
.profile-picture .fa {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
}
.profile-content {
  margin:0;
  padding:0;
  padding-top:20px;
}
.profile-content li {
  list-style:none;
  text-align: left;
}
.profile img {
  width:100%;
  height:auto;
  margin-bottom:10px;
}

/*Table*/
.transfer-activity-table {
  width:100%;
  overflow-x:auto;
  margin-bottom: 5%;
}
.transfer-activity-table table {
  width:100%;
  max-width:100%;
  min-width: 600px;
  text-align:center;
  border-collapse:collapse;
  margin-top:10px;
}
.transfer-activity-table thead {
  background:#004B8C;
  color:white;
}
.transfer-activity-table tbody tr:hover {
  background:#ddd;
}
.transfer-activity-table th {
  padding: 1em 10px;
}
.transfer-activity-table td {
  padding: 1em 10px;
}

/******************************************************************/
.mainSection {
	width: calc(100% - 100px);
	display:inline-block;
	margin:25px;
	background-color: #490755;
	margin-top:45px;
}

/* Main Footer and Content */
footer {
  width:200%;
  position:relative;
  left:-50%;
}

.mainFooter {
	width:100%;
	background-color:#f6f9fa;
	min-height:300px;
}

	.firstLevelFooter {
		background-color:#f2f2f2;
		height:84px;
	}

	.secondLevelFooter {
		min-height:36px;
		background: #004B8C;
		color:'#eee';
		text-align:center;
		font-weight:bold;
		font-size:12px;

	}

	.secondLevelFooter a {
		display:inline-block;
		position:relative;
		//height:100%;
		padding:11px;
		color:'#eee';
		text-decoration:none;
	}

	.secondLevelFooter a:hover {
		background-color:#d0e5f4;
		color:#00233b;
		cursor:pointer;
	}

	.thirdLevelFooter {
		height:275px;
		background-color:#f6f9fa;
		position:relative;
	}

/***************** Flying Popup (fixed at bottom) *************/

.flyPopup {
	color:'#eee';
	background-color:#003a57;
	position:fixed;
	bottom:0;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	width:inherit;
	font-size:10px;
	padding:10px;
}

	.footerCloseBtn {
		position:absolute;
		right:-5px;
		top:-5px;
		color:GREEN;
		background-color:'#eee';
		border: solid 1px gray;
		width:10px;
		height:10px;
		text-align:center;
	}

	#selectShowFooter {
		position:fixed;
		top:0;
	}

	#selectShowFooter + .flyPopup {
		display:none;
	}

	#selectShowFooter:checked + .flyPopup {
		display:block;
	}


.lblOpenMenu {
	color:'#eee';
}

.wantToContainer {
	position: static;
    display: none;
    float: right;
    right: 0;
    background-color: #f6f6f6;
    border: 1px solid #e9e9e9;
    width: 209px;
	padding-bottom: 15px;
	margin-top:15px;
}

.wantToContainer ul {
	margin: 0 25px;
    width: 158px;
    padding: 0;
	border-bottom: 1px dotted #B8B8B8;
}

.wantToContainer li {
	font-size:12px;
	color:#0b6997;
	list-style: none;
	padding: 0 0 10px 14px;
}

.wantToContainer a {
	color:inherit;
	text-decoration:none;
}

.wantToContainer a:hover {
	text-decoration:underline;
}

.wantToContainer h4 {
	font-weight:bold;
	text-transform:uppercase;
	margin:5px;

	color: #666666;
	font-size:11px;
}


/**************************** Utilities *************************/

.hide {
	display:none;
}

.smallDisplay {
	display:none;
}

.bigDisplay {
	display:block;
}

.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0 5px;
  padding: 10px;
  width: 100px;
  border:0;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.simpleButton {
  background: #B00D20;
}

.simpleButton:hover {
	background:#da132a;
}

.CTAButton {
  background: #008c8b;
}

.CTAButton:hover {
  background: #2a0fcc;
}


@media screen and (max-width:600px) {
  .half-width,.half-width.right{
    width:100%;
    margin:20px 0 0 0;
  }
}

@media screen and (max-width:480px) {

  dl dt,dl dd{
    width:100%;
    margin-top: 5px;
  }
  dl dd{text-align:right}

	.mainSection{
		width: 90%;
		margin:25px;
	}

	.wantToContainer {
		padding:0;
		margin:0;
		top:0;
		width:100%;
		position:fixed;
		z-index:5;
		overflow:hidden;
		transition: height 400ms linear;
		-webkit-transition: height 400ms linear;
		-moz-transition: height 400ms linear;
		-o-transition: height 400ms linear;
		transition: height 400ms linear;
	}

	.wantToContainer ul {
		border:none;
	}

		.wantToContainer li {
			display:inline-block;
			width:100%;
		}

	.lblOpenMenu{
		position:fixed;
		top:0;
		right:0;
		z-index:10;
	}

	/**************** Menu control for phone-size display *******************/
	#selectOpenMenu + label + aside {
		overflow:hidden;
		height:0;
	}

	#selectOpenMenu:checked + label + aside {
		height:140px;
	}

	#selectOpenMenu + label .openItem {
		display:block;
	}

	#selectOpenMenu:checked + label .openItem {
		display:none;
	}


	#selectOpenMenu + label .closeItem {
		display:none;
		color:BLACK;
	}

	#selectOpenMenu:checked + label .closeItem {
		display:block;
	}

/****************************Small Utilities *************************/
	.smallDisplay {
		display:block;
	}

	.bigDisplay {
		display:none !important;
	}
}

.mainContainer{
  display:inline-block;
  width:100%;
  max-width:1024px;
}

.divMain header{
  display:none;
}

/*** Menu **/
.menu{
	position:relative;
	background-color:#004B8C;
  width:100%;
	display:inline-block;
  width: 200%;
  position: relative;
  left: -50%;
}

.menu:after{
	content:"";
	display:block;
	position:absolute;
	width:3px;
	background-color:#FFC107;
	height:100%;
	top:0;
	right:3%;
}

.menu:before{
	content:"";
	display:block;
	position:absolute;
	width:3px;
	background-color:RED;
	height:100%;
	top:0;
	right:2%;
}

.menu .title{
	color:#490755;
	font-size:2rem;
  font-family: 'Open Sans', sans-serif;
  margin:0.8em 0 0 0;
}

.menu ul{
	list-style:none;
	margin:20px 0 0 0;
	padding:0;
	text-align:center;
}

.menu li{
	display:inline;
	text-align:center;
  width:100%;
}

.menu li:hover{
	background-color:#0F74CC;
}

.menu a, .menu label{
	text-decoration:none;
	color:'#eee';
	display:inline-block;
  cursor: pointer;
	padding-top:2px;
	padding-bottom:2px;
	position:relative;
	min-width:100px;
	width:auto;
	height:30px;
	line-height:30px;
  cursor: pointer;
  padding: 2px 10px;
}

.menu a:hover{
 /* TODO: Add hover styles..  */
}

#select-menu{
	display:none;
}

.btnMenu{
	display:none;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 1;
}
.btnMenu i{cursor:pointer}

/**************************** Browser Responsive Custom Styles ****************************/
@media only screen and (max-width: 520px) {
	p {
		text-align:justify;
		text-indent: 1.5rem;
		font-size:.8rem;
	}

	.menu:after {
		width:100%;
		height:2px;

		top:45px;
		left:0;
	}

	.menu:before {
		width:100%;
		height:2px;

		top:40px;
		left:0;
	}


	.menu .title {

		position:absolute;
		top:0;
		left:0;
	}


	.btnMenu {
		display:inline-block;
	}

	.mainContainer{
		margin-top:50px;
	}


	.menu {
		position:fixed;
		top:0;
		z-index:10;
		width:50%;
		min-width: 250px;
		height:100%;
		transition: left 500ms linear;
		-webkit-transition: left 500ms linear;
    box-shadow: 2px 0 10px rgba(0,0,0,1);
	}

	#select-menu + .menu {
		//display:none;

		left:-90%;
	}

	#select-menu:checked + .menu {
		//display:block;
		left:0;
	}

	.menu ul {
		margin-top:50px;
	}

	.menu li {
		display:block;
	}

	.menu a {
		width:80%;
		text-align:left;
	}

  p {
    text-align: left;
    text-indent: inherit;
    font-size: 1em;
  }
}
/* *******************************************************/
