body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Raleway Semibold', sans-serif;
}

.Login-card-2 {
    min-width: 350px;
    min-height: 25em;
    margin-top: 10em;
    margin-right: 60em;
    padding: 1em;
}

.Login-avatar-3 {
    margin: 2.5em;
    display: flex;
    justify-content: center;
}
